language: node_js
node_js:
    - "10"
install:
    - rm -rf node_modules/mdbootstrap/.git/
    - npm install
script:
    - npm run build-all-libs
cache:
    directories:
        - "node_modules"
notifications:
  slack:
      rooms:
        - disruptivesworkspace:KDQt8YJkLtzeVLzS0I23eo3y#tasky
      on_success: always
      on_failure: always
      template:
      - "Test"
  email:
    recipients:
      - hutteryannick@gmail.com
    on_success: always
    on_failure: always

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
