language: node_js
node_js:
    - "10"
install:
    - npm install
script:
    - npm run build-all-libs
cache:
    directories:
        - "node_modules"
notifications:
  email:
    recipients:
      - hutteryannick@gmail.com
    template:
      - "This is a custom text"
    on_success: always
    on_failure: always

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
